{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'hosts/css/hosts.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block 'dashboard' %}
<div class="filtros">
    <div class="inner-div" style="position: relative; z-index: 100;">
        <form action="{% url 'hosts' %}" method="GET" class="input-group">
            <div class="dropdown" style="position: relative; z-index: 101;">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Comandos
                </button>
                
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'show_arp_view' pk=object.id %}">Show Arp</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_cdp_view' pk=object.id %}">Show cdp nei det</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_int_tran_view' pk=object.id %}">Show inter tran</a></li>
                    
                    <li><a class="dropdown-item" href="{% url 'show_ip_os_nei_view' pk=object.id %}">Show ip os nei</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_int_status_view' pk=object.id %}">Show int status</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_mac_view' pk=object.id %}">Show mac address-table</a></li>

                    <li><a class="dropdown-item" href="{% url 'show_int_des_view' pk=object.id %}">Show int des</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_bgp_view' pk=object.id %}">Show bgp su</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_running_view' pk=object.id %}">Show Runing</a></li>
                    <li><a class="dropdown-item" href="{% url 'show_log_view' pk=object.id %}">Show log</a></li>
                </ul>
            </div>
        </form>
    </div>
    <div class="inner-div" >
        <p>{{object.host}}</p>

        <form method="get" action="">
            <input type="date" name="" id="">
            <button type="submit">Filtrar por Data</button>
        </form>
    </div>
</div>






<div class="lista_hosts" style=" z-index: 100;">

    <pre style="color: aliceblue;">
        {{ object.id }}
    </pre>



</div>
{% endblock %}

{% block 'body' %}
<!-- Se houver algum conteúdo para a seção de corpo -->
{% endblock %}
